.footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(189, 84%, 43%);
    color: #333; 
    border-top: 1px solid #ddd;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    padding: 1em; 
    font-size: 1rem; 
}

.bold {
    font-weight: 600; 
    color: #16479d; 
}

.footer p {
    margin: 0;
    text-align: center;
    line-height: 1.5;
}
