{{>partials/header}}

<section class="banner" style="background-image: url('images/')"></section>
<h2>FRONTEND:</h2>
    <div class="container list">
            <div class="item">
                <a href="http://localhost:4000/frontendemploye">
                    <img src="/images/procurax.png" class="item--image" />
                </a>
                <div class="item--name">ㅤㅤㅤlista de funcionarios</div>
                <a href="http://localhost:4000/frontendhowwork">
                    <img src="/images/comofunciona.png" class="item--image" />
                </a>
                <div class="item--name">ㅤㅤㅤComo Funcinario?</div>
            </div>

</div>




{{>partials/footer}}

