{{>partials/header}}

<section class="banner" style="background-image: url('images/contatos.png')"></section>
<h2>Contatos</h2>
<div class="container list">
    <div class="item-container">
        <!-- Instagram -->
        <div class="item">
            <a href="https://www.instagram.com/g4flexoficial/?igshid=MzRlODBiNWFlZA%3D%3D">
                <img src="contato/instagram.png" class="item--image" />
            </a>
                <h3>ㅤㅤ@g4flexoficial</h3>
            </div>

            
        </div>
        
        <!-- WhatsApp -->
        <div class="item">
            <a href="https://api.whatsapp.com/send?phone=558530331777&text=Ol%C3%A1%2C%20quero%20saber%20mais%20sobre%20os%20servi%C3%A7os%20da%20G4Flex">
                <img src="contato/whatsapp.png" class="item--image" />
            </a>
            <div class="item--info">
                <div class="item--name" id="number">ㅤㅤㅤ(85) 3033-1777</div>
            </div>
        </div>

        <!-- Email -->
        <div class="item">
            
            <img src="contato/email.png" class="item--image" />

            <div class="item--info">
                <div class="item--name">comercial@g4flex.com.br</div>
            </div>
        </div>

        <!-- Telefone -->
        <div class="item">
            
            <img src="contato/telefone.png" class="item--image" />
            <div class="item--info">
                <div class="item--name">ㅤㅤㅤㅤ(85) 3033-1777</div>
            </div>
        </div>

        <!-- linkedin -->
        <div class="item">
            <a href="https://www.linkedin.com/company/g4flex/?originalSubdomain=br">
                <img src="contato/linkedin.png" class="item--image" />
            </a>
            <div class="item--info">
                <div class="item--name">G4Flex Business & Services</div>
            </div>
        </div>
    </div>
</div>

{{>partials/footer}}
