{{>partials/header}}

<section class="banner" style="background-image: url('images/{{background}}')"></section>
<h2>Funcionários</h2>

<div class="container list">
    {{#list}}
    <div class="item-container">
        <div class="item">
            <a href="http://localhost:4000/perfilemployee/{{id}}">
                <img src="fotodapessoa/{{photo}}" class="item--image" />
            </a>
            <div class="item--info">
                <div class="item--name">Nome: {{name}}</div>
                <div class="item--sectors">
                    {{#sectors}}
                    <div class="item--setor">Sectors:{{name}}</div>
                    {{/sectors}}
                </div>
                <div class="item--subsectors">
                    {{#subsectors}}
                    <div class="item--setor">Subsectors: {{name}}</div>
                    {{/subsectors}}
                </div>
            </div>
        </div>
    </div>
    {{/list}}

    {{^list}}
    <div class="container no-list">
        <h2>Não há funcionários disponíveis nestas condições</h2>
    </div>
    {{/list}}
</div>

{{>partials/footer}}



<!-- Incorporar código JavaScript para ordenar a lista -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const listaFuncionarios = document.querySelectorAll('.container.list');

    const funcionariosArray = Array.from(listaFuncionarios);

    funcionariosArray.sort(function(a, b) {
        const nomeA = a.querySelector('.item--name').textContent.toLowerCase();
        const nomeB = b.querySelector('.item--name').textContent.toLowerCase();

        if (nomeA < nomeB) {
            return -1;
        } else if (nomeA > nomeB) {
            return 1;
        } else {
            return 0;
        }
    });

    const containerList = document.querySelector('.container.list');

    funcionariosArray.forEach(function(funcionario) {
        containerList.appendChild(funcionario);
    });
});
</script>
