<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style/style.css">
  <link rel="stylesheet" href="/css/styleee.css">
  <link rel="icon" type="image/png" href="/images/g4flex.png">
  <title>Esqueci minha senha</title>
</head>
<body>
  <form method="POST" action="/forgot_password_sucess">
    <div class="container">
      <div class="form-image">
        <img src="/images/g4flex.png" alt="g4flex">
      </div>
      <div class="form">
        <div class="form-header">
          <div class="title">
            <h1>ESQUECI MINHA SENHA:</h1>
          </div>
        </div>
        <div class="input-group">
          <div class="input-box">
            <label for="email">E-mail:</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Digite seu e-mail"
              required
            />
          </div>
          <div class="input-box">
            <label for="securityQuestion">Pergunta de Segurança: Qual sua cor favorita?</label>
            <input
              type="text"
              id="securityquestion"
              name="securityquestion"
              placeholder="Digite sua pergunta de segurança"
              required
            />
          </div>
          <div class="input-box">
            <label for="newPassword">Nova Senha</label>
            <input
              type="password"
              id="newpassword"
              name="newpassword"
              placeholder="Digite sua nova senha"
              required
            />
          </div>
          <div class="input-box">
            <label for="confirmnewpassword">Confirme sua Nova Senha</label>
            <input
              type="password"
              id="confirmnewpassword"
              name="confirmnewpassword"
              placeholder="Digite sua nova senha novamente"
              required
            />
          </div>
        </div>
        <div class="continue-button">
          <button type="submit">Criar</button>
        </div>
      </div>
    </div>
  </form>
</body>
</html>
