{{>partials/header}}

<section class="banner" style="background-image: url('images/{{background}}')"></section>
<h2>COMO FUNCIONA:</h2>

{{#list}}
    <div class="container list">
        <div class="item-container">
                <div class="item">
                    <img src="images/{{photo}}" class="item--image" />
                </div>
        <pre>{{ list }}</pre>
        </div>
    </div>
{{/list}}


{{>partials/footer}}



