<form method="POST" action="http://127.0.0.1:4000/idade-resultado">
    <input type="number" name="ano" placeholder="Digite o ano de nascimento" /><br/>
    <input type="submit" value="Enviar" />
</form>